<div class="about">
  <h2>About us</h2>
  <p>We are imaginary real estate company established solely for the purpose of demonstration of skills set of the web developer of this website. We would like to draw your attention to how elegantly Three.js technology is combined with AngularJS. Basically you have two views - one is native of AngularJS, two-dimensional and second one is three-dimensional provided by Three.js and coded manually. The web developer thinks that three-dimensional visualization of data should be applied where the nature of data demands so. Particularly it can be used in online stores, learning platforms and real estate websites like this one. With current technologies it is not more difficult than visualizing the data in classic two-dimensional way while it greatly improves the user experience.
  </p>
</div>
